config/.env
config/.ENV

node_modules/
package-lock.json
# Logs
*.log
logs/
# Sistema operacional
.DS_Store
Thumbs.db
# Arquivos temporários
tmp/
temp/
# Diretórios de build
dist/
build/
config/.env
Rag/Prompts/*.md
config/.ENV
